<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.demo.dao.ProductInfoMapper">

	
	<resultMap type="ProductInfo" id="productmap">
		<id column="product_id" property="productId"></id>
		<result column="product_name" property="productName"></result>
		<result column="product_price" property="productPrice"></result>
		<result column="product_url" property="productUrl"></result>
		<result column="product_desc" property="productDesc"></result>
		<result column="product_state" property="productState"></result>
		<result column="product_intro" property="productIntro"></result>
		<result column="flbh1" property="flbh1"></result>
		<result column="flbh2" property="flbh2"></result>
		<result column="pp_id" property="ppid"></result>
	</resultMap> 
	
	
	<resultMap type="ProductInfoExample" id="productExamplemap">
		<id column="product_id" property="productId"></id>
		<result column="product_name" property="productName"></result>
		<result column="product_price" property="productPrice"></result>
		<result column="product_url" property="productUrl"></result>
		<result column="product_desc" property="productDesc"></result>
		<result column="product_state" property="productState"></result>
		<result column="product_intro" property="productIntro"></result>
		<result column="flbh1" property="flbh1"></result>
		<result column="flbh2" property="flbh2"></result>
		<result column="pp_id" property="ppid"></result>
		
		<result column="flmch1" property="flmch1"></result>
		<result column="flmch2" property="flmch2"></result>
		<result column="ppmch" property="ppmch"></result>
	</resultMap> 
	
<!-- 	<resultMap type="ProductImageQueryVo" id="ProductImageproductmap"> -->
<!-- 		<id column="product_id" property="productId"></id> -->
<!-- 		<result column="product_name" property="productName"></result> -->
<!-- 		<result column="product_price" property="productPrice"></result> -->
<!-- 		<result column="product_url" property="productUrl"></result> -->
<!-- 		<result column="product_desc" property="productDesc"></result> -->
<!-- 		<result column="product_state" property="productState"></result> -->
<!-- 		<result column="product_intro" property="productIntro"></result> -->
<!-- 		<result column="flbh1" property="flbh1"></result> -->
<!-- 		<result column="flbh2" property="flbh2"></result> -->
<!-- 		<result column="pp_id" property="ppid"></result> -->
<!-- 	</resultMap>  -->
	
	
	<resultMap type="ProductImage" id="productimagemap">
		<id column="Id" property="id"></id>
		<result column="zy" property="zy"></result>
		<result column="shp_id" property="shpId"></result>
		<result column="url" property="url"></result>
		
		
	</resultMap> 
	
	
	<insert id="addProductImage"  parameterType="Map">
		insert into product_image(shp_id,url)

		values

		<foreach collection="list_image" item="image" separator=",">
			(#{chanpin_id},#{image})
		</foreach>
	</insert>
	
	<insert id="addProductInfo"  useGeneratedKeys="true" keyColumn="product_id" keyProperty="productId"
	 parameterType="ProductInfo">
		insert into product_info(product_name,product_price,product_url,product_desc,product_state,product_intro,flbh1,flbh2,pp_id) 
		values(#{productName},#{productPrice},#{productUrl},#{productDesc},#{productState},#{productIntro},#{flbh1},#{flbh2},#{ppid})
	</insert>
	
	
	<select id="getProductInfoList" parameterType="ProductInfo" resultMap="productmap">
	     select * from product_info
	     	<where>
			<if test="productName != null and productName != ''">
				<bind name="namePattern" value="'%' + _parameter.productName + '%'"></bind>
				and product_name like #{namePattern}
			</if>
			<if test="productState != null and productState != ''">

				and product_state  =#{productState}
			</if>
		</where>
		<if test="start!=-1 and length!=-1 ">
	     limit #{start},#{length}
	     </if>
	</select>
	
	
	
<select id="getProductInfoCount" parameterType="ProductInfo" resultType="long">
		select count(*) from product_info
		<where>
			<if test="productName != null and productName != ''">
				<bind name="namePattern" value="'%' + _parameter.productName + '%'"></bind>
				and product_name like #{namePattern}
			</if>
			<if test="productState != null and productState != ''">
				and product_state = #{productState}
			</if>
		</where>
	</select>
	
	
	<update id="updateProductInfo" parameterType="ProductInfo">
	update product_info
	<set>
	<if test="productName!=null and productName!=''">
	product_name=#{productName},
	</if>
	<if test="productPrice!=null and productPrice!=''">
	product_Price=#{productPrice},
	</if>
	<if test="productUrl != null and productUrl != ''">
				product_Url = #{productUrl},
			</if>
			<if test="productDesc!= null and productDesc != ''">
				product_desc = #{productDesc},
			</if>
			
			<if test="productState!= null and productState != ''">
				product_state = #{productState},
			</if>
			
			<if test="productIntro!= null and productIntro != ''">
				product_intro = #{productIntro},
			</if>

	
	</set>
	where product_id=#{productId}
	</update>
	
	<select id="getProductInfo" parameterType="ProductInfo" resultMap="productmap">
	     select * from product_info
	     where product_id=#{productId}
	</select>
	
   <delete id="deleteProductInfo" parameterType="ProductInfo">
		delete from product_info where product_id = #{productId}
	</delete>
	
	
	<select id="findProductDetail" parameterType="com.iot.demo.bean.ProductInfoQueryVo" resultMap="productExamplemap">
	     select product_info.* from product_info
	     where product_id=#{productInfo.productId}
	</select>
	
	
	<select id="getProductInfoListDetail" parameterType="com.iot.demo.bean.ProductInfo" resultMap="productExamplemap">
	     select product_info.*,t_mall_class_1.flmch1,t_mall_class_2.flmch2,t_mall_trade_mark.ppmch from product_info,t_mall_class_1,t_mall_class_2,t_mall_trade_mark
	     	<where>
	     	 
	     	 product_info.flbh1=t_mall_class_1.id
	     	 and 
	     	 product_info.flbh2=t_mall_class_2.id
	     	  and 
	     	  product_info.pp_id=t_mall_trade_mark.id
			<if test="productName != null and productName != ''">
				<bind name="namePattern" value="'%' + _parameter.productName + '%'"></bind>
				and product_name like #{namePattern}
			</if>
			<if test="productState != null and productState != ''">

				and product_state  =#{productState}
			</if>
		</where>
		<if test="start!=-1 and length!=-1 ">
	     limit #{start},#{length}
	     </if>
	</select>

</mapper>